.headerWrap{
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.headerLeft{

}

.logoWrap{
	display: flex;
	align-items: center;
}

.title{
	padding-left: 10px;
}

.headerRight{
	
}